* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
    font-family: Miama;
    src: url(fonts/Miama.ttf);
}
body {
    background: #000;
    font-family: Inter;
}
img {
    max-width: 100%;
}
p {
    line-height: 25px;
}
.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}
.primary-text-color {
    color: #FFF;
}
.primary-text-color p {
    color: rgb(255, 255, 255, 0.5);
}
.rounded-button {
    background: #e6533c;
    color: #FFF;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #e6533c;
}
.flex-section {
    display: flex;
}
.mobile-mb {
    margin-bottom: 0;
}
.mb-20 {
    margin-bottom: 20px;
}

.width-50 {
    width: 50%;
}
.section-title {
    margin-bottom: 40px;
    text-align: center;
}
.section-heading h1 {
    font-size: 45px;
    font-weight: bold;
}
.section-heading p {
    color: #eee;
}
.large-text {
    font-size: 45px;
    font-weight: 900;
}

/*********** Header Section *************/
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.hero-area.primary-text-color {
    background: linear-gradient(360deg, black, #262424);
  }
.logo h1 a {
    color: #e6533c;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    font-size: 40px;

}
.main-menu ul {
    display: flex;
    border: 1px solid #3d3d3d;
    border-radius: 25px;
    list-style: none;
    padding: 15px 10px;
}
.main-menu ul li a {
    color: #FFF;
    transition: .5s;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
}
.main-menu ul li a:hover {
    background: #e6533c;
}
.main-menu .active-menu {
    background: #e6533c;
}
.menu-bars a {
    text-decoration: none;
}
.menu-bars i {
    color: #FFF;
    display: none;
}
/*********** Hero Section *******/
.hero-section {
    justify-content: space-between;
}

.hero-left h1 {
    font-size: 70px;
}
.hero-left h1 span {
    font-family: Miama;
}
.hero-buttons {
    gap: 15px;
    display: flex;
}
.hero-buttons a {
    padding: 16px 40px;
}
.hero-button-white {
    background: transparent;
    border: 2px solid #ddd;
}
.hero-right {
    position: relative;
}
.hero-card {
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(145, 139, 139, 0.226);
    padding: 10px 20px;
    border-radius: 10px;
}
.hero-card h2 {
    font-size: 40px;
}
.hct-one {
    top: 160px;
    right: -60px;
}
.hct-two {
    bottom: 90px;
    left: -100px;
    align-items: center;
    gap: 10px;
    display: flex;
}
.hero-icon i {
    background-color: rgb(240, 24, 24);
    padding: 10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
/*********** Change Habit Section *************/
.change-habit-area {
    text-align: center;
}
.habit-change {
    gap: 50px;
}
.habit-change img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 5px solid #3d3d3d;
}
.habit-change h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

/********** Full Width Card *************/
.full-width-card-section {
    margin: 30px 0;
}
.full-width-card {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    gap: 100px;
    align-items: center;
}
.full-width-left {
    align-items: center;
}
.full-width-right img {
    border-radius: 15px;
    object-fit: none;
    object-position: 70% 33%;
}
.meet-team-area.primary-text-color {
  padding: 60px 0;
}

/***************** BMI Section ************/
.bmi-heading {
    color: #FFF;
    margin-left: 15%;
    padding: 50px 0;
}
.bmi-heading h1 {
    font-weight: bold;
}
.bmi-chart {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.bordered-table {
    border-collapse: collapse;
}
.bordered-table td, .bordered-table th {
    border: 1px solid #333;
    padding: 10px 20px;
    color: #5f5f5f;
}
.bordered-table th {
    color: #FFF;
}
.bmi-form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.form-element {
    padding: 15px;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background: 16px;
    color: #888;
    background-color: #333;
}
.form-element:focus {
    outline: 0;
}
.bmi-form .form-half {   
    width: calc(50% - 8px);
}
.bmi-form input[type="submit"] {
    cursor: pointer;
}
.form-full {
    width: 100%;
}

/************ Meet Our Team ***********/
.meet-team-area {
    padding: 60px 0;
}
.meet-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.team-person {
    position: relative;
}
.team-person .name-design {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.team-person img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.bmi-area {
    background: #1a1a1a;
    padding: 50px 0;
}

/*********** Testimonials *****************/
.testimonial-section {
    padding-bottom: 40px;
}
.testimonials {
    gap: 20px;
}
.testimonial-item {
    background: #333;
    text-align: center;
    margin-bottom: 15px;
    padding: 25px 20px;
    border-radius: 10px;
}
.testimonial-item img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.testimonial-item span {
    margin-bottom: 10px;
    display: block;
}
.testmonital-more {
    text-align: center;
    margin-top: 20px;
}
/*********** Footer Section **************/
.footer-area {
    background-color: #191919;
}
.footer-section {
    padding: 50px 0;
    justify-content: space-between;
}
.footer-logo {
    font-size: 60px;
    font-style: italic;
    color: #e6533c;
}
.footer-text p {
    text-align: center;
    border-top: 2px solid #333;
    padding: 30px 0;
}
.footer-item ul {
    list-style: none;
}
.footer-item ul li a {
    text-decoration: none;
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255, 0.5);
}

/*********** Responsive Styles **************/
@media screen and (max-width: 768px) {
    .flex-section {
        flex-direction: column;
    }
    .width-50 {
        width: 100%;
    }
    .mb-20 {
        margin-bottom: 10px;
    }
    .menu-bars i {
        display: inherit;
    }
    .large-text {
        font-size: 30px;
    }
    .mobile-mb {
        margin-bottom: 25px;
    }
    .hero-left h1 {
        font-size: 40px;
    }
    .hero-buttons a {
        padding: 16px;
    }
    .main-menu {
        display: none;
    }
    .hct-two {
        left: 0;
        bottom: 250px;
    }
    .hct-one {
        right: 0;
        top: 60px;
    }
    .bmi-heading {
        margin-left: 0;
    }
    .bmi-chart {
        align-items: inherit;
        padding: inherit;
    }
    .change-habit-area.rounded-button {
        display: block;
        text-align: center;
    }
    .full-width-right img {
        object-fit: inherit;
        object-position: inherit;
    }
    .meet-team {
        grid-template-columns: repeat(1, 1fr);
    }
}